<% include ./partials/header.ejs %>

<div class="container">
    <div class="row">
      <div class="col-40">
        <img src="../images/leslie.jpg" id="leslie-pic">
      </div>
      <div class="col-60">
        <p>
          Knausgaard sustainable gastropub skateboard iceland pop-up. Normcore sustainable adaptogen, affogato ennui street art hashtag fanny pack. Sartorial tilde leggings bushwick offal cray readymade hammock, tofu yuccie brunch. Tumblr jianbing asymmetrical farm-to-table YOLO sriracha cloud bread master cleanse mlkshk ennui. Meh everyday carry umami butcher gluten-free.

  Raw denim etsy lumbersexual tote bag bicycle rights church-key kickstarter art party cray portland. Freegan small batch pabst edison bulb, cliche skateboard gluten-free keytar viral occupy. Cold-pressed cardigan chillwave vexillologist poutine, keffiyeh bicycle rights. Fixie occupy actually aesthetic tofu thundercats hoodie kogi VHS la croix fingerstache craft beer.
        </p>
      </div>
    </div>
</div>

<% include ./partials/footer.ejs %>
