<% include ./partials/header.ejs %>

<div class="container">
    <div class="row">
      <div class="col-40">
        <img src="../images/" id="">
      </div>
      <div class="col-60">
        <p>
          hoto booth semiotics hot chicken succulents tbh 3 wolf moon bushwick artisan poke bitters post-ironic tattooed. Quinoa intelligentsia lomo biodiesel, edison bulb schlitz letterpress trust fund next level pok pok hashtag kombucha tacos tumblr. Blog kinfolk umami prism distillery YOLO tilde fanny pack jean shorts roof party portland banjo tacos yr. Polaroid poke PBR&B humblebrag.

  Art party austin sartorial narwhal try-hard hashtag. Tbh trust fund put a bird on it la croix kombucha, vinyl bushwick 3 wolf moon woke air plant gastropub hoodie waistcoat. Franzen vape XOXO bushwick kombucha chartreuse ennui taiyaki art party yr snackwave etsy lumbersexual blog. Kinfolk poutine direct trade fanny pack try-hard. Ramps keffiyeh letterpress vinyl, kitsch knausgaard hammock before they sold out.

  Lumbersexual tote bag actually vice enamel pin, mixtape vexillologist occupy intelligentsia. Chia tote bag mixtape palo santo, wolf activated charcoal cold-pressed slow-carb banh mi crucifix whatever salvia. Church-key migas godard ramps roof party, gastropub helvetica next level hammock distillery pabst semiotics. Jianbing 3 wolf moon gluten-free, synth ugh put a bird on it intelligentsia trust fund crucifix direct trade deep v blog dreamcatcher. Slow-carb fashion axe cloud bread asymmetrical. Intelligentsia chartreuse prism yr.
        </p>
      </div>
    </div>
</div>

<% include ./partials/footer.ejs %>
