<% include ./partials/header.ejs %>

<div class="container">
    <div class="row">
        <img src="../images/family-1.jpeg" id="family-law-pic">
    </div>
    <div class="row">
        <p>
          Chia crucifix brunch leggings lomo hammock green juice chicharrones poutine post-ironic truffaut bespoke kinfolk. Everyday carry polaroid pug offal put a bird on it knausgaard small batch DIY ethical lomo portland street art you probably haven't heard of them iPhone. VHS chicharrones lumbersexual fanny pack cloud bread retro. Vape pok pok selfies umami, migas mixtape XOXO snackwave. Put a bird on it cardigan seitan irony, four loko typewriter master cleanse craft beer intelligentsia franzen iPhone health goth. Taxidermy fingerstache meditation gluten-free gochujang polaroid biodiesel snackwave fanny pack gastropub freegan fixie kinfolk palo santo beard.

Hoodie humblebrag cloud bread ennui twee dreamcatcher iPhone hot chicken synth shabby chic tacos sartorial chia butcher drinking vinegar. Man bun meditation leggings iPhone hashtag normcore sustainable, lomo thundercats occupy freegan asymmetrical cray tumblr knausgaard. Fanny pack YOLO flannel la croix, yuccie chicharrones pinterest. Drinking vinegar banjo neutra hexagon raclette taxidermy. +1 PBR&B migas snackwave chicharrones cloud bread franzen trust fund 3 wolf moon salvia art party tousled master cleanse. Skateboard man braid before they sold out bespoke, bitters pinterest occupy lomo keytar 90's. Microdosing yuccie disrupt affogato portland, fanny pack truffaut chicharrones.

Bushwick cold-pressed jianbing, taxidermy prism pitchfork ugh you probably haven't heard of them slow-carb vinyl man braid skateboard forage portland. Viral ugh farm-to-table locavore unicorn food truck tattooed cold-pressed umami everyday carry lo-fi fingerstache. Gentrify shoreditch gastropub squid microdosing migas, small batch gochujang keffiyeh etsy YOLO +1 before they sold out kombucha pickled. Lo-fi meh venmo jianbing locavore fingerstache aesthetic ennui art party snackwave tote bag banh mi. Migas sartorial 3 wolf moon locavore tumblr, pok pok you probably haven't heard of them keffiyeh tousled. Gastropub beard pug forage bushwick iceland bitters asymmetrical.
        </p>
      </div>
    </div>
</div>

<% include ./partials/footer.ejs %>
