<% include ./partials/header.ejs %>
<div class="jumbotron">
  <div class='jumbotron-badge'>
    <h1>Wise Law Firm</h1>
    <h4>Firm Slogan Here<h4>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div>
</div>
<% include ./partials/footer.ejs %>
