<% include ./partials/header.ejs %>
<div class="jumbotron">
  <div class='jumbotron-badge'>
    <img src="../images/logo.jpg" id="logo">
    <a class="btn btn-primary btn-lg" id="jumbotron-button" href="#" role="button">Learn more</a>
  </div>
</div>
<% include ./partials/footer.ejs %>
