<% include ./partials/header.ejs %>
<div class="jumbotron">
    <img src="../images/logo.jpg" id="logo">
    <br>
    <a class="btn btn-primary btn-lg" id="jumbotron-button" href="#" role="button">Learn more</a>
</div>
<% include ./partials/footer.ejs %>
