html, body {
  height: 100%;
  width: 100%;
  background-color: #114210;
}

body {
  font-family: 'Cinzel', serif;
  min-height:100%;
  position:relative;
  padding-bottom: 1.2vw;
}

.navbar-nav {
    float:none;
    margin:0 auto;
    text-align: center;
    background-color: #3a6e47;
}

.nav-link {
  color: #efedef;
  text-decoration: none;
  font-size: 0.9vw;
}

.nav-link:hover {
  color: #efedef;
  border-bottom: 0.01vw solid #efedef;
}

.navbar-brand:hover {
  background-color: #3a6e47;
  color: green;
}

.jumbotron {
  background-image: url(../images/books.jpg);
  height: 45.5vw;
  border-radius: 0;
  border: none;
  background-position: center center;
  background-size: cover;
}

.jumbotron-badge {
  background-color: #CFB53B;
  border: 0.1vw solid #CFB53B;
  border-radius: 25px;
  margin-left: 33vw;
  margin-top: 8vw;
  width: 30vw;
  height: 17vw;
  padding: 2vw;
}

#jumbotron-button {
  margin-left: 5vw;
  margin-top: -3.7vw;
  margin-left: 43.3vw;
  border: none;
  background-color: #CFB53B;
  color: #000;
}

#jumbotron-button:hover {
  border: none;
  background-color: #c1a730;
}

/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the submit button */
input[type=submit] {
  background-color: #CFB53B;
  color: #000;
  font-weight: bold;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 1vw;
}

/* Style the container */
.container {
  margin-top: 3vw;
  margin-bottom: 3vw;
  border-radius: 25px;
  color: #000;
  background-color: #9fe59e;
  padding: 4vw;
  width: 100vw;
}

/* Floating column for labels: 25% width */
.col-15 {
  font-weight: bold;
  float: left;
  width: 15%;
  margin-top: 6px;
}

.col-30 {
  font-weight: bold;
  width: 30%;
  margin-top: 6px;
}

.col-40 {
  font-weight: bold;
  width: 40%;
  margin-top: 6px;
}
/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.col-60 {
  align: none;
  width: 80%;
  margin-top: 6px;
  text-align: justify;
}

.col-70 {
  width: 70%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#family-law-pic {
  width: 90%;
  max-height: 30vw;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin-left: 5%;
  margin-right: 5%;
}

#logo {
  border-radius: 25px;
  height: 15vw;
  width: 30vw;
  margin-left: 33vw;
  margin-top: 5vw;
  border: 2.5vw solid #3a6e47;
  border-bottom: 5vw solid #3a6e47;
}

#leslie-pic {
  max-width: 30vw;
  max-height: 25vw;
  border-radius: 25px;
}

#police-pic {
  width: 90%;
  max-height: 30vw;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin-left: 5%;
  margin-right: 5%;
}

#estate-pic {
  float: left;
  clear: none;
  padding: 0 20px 20px 0;
  max-width: 20vw;
  max-height: 25vw;
  border-radius: 25px;
}

#estate-text {
  width: 65%;
  height: auto;
  float: left;
}
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

.footer {
  background-color: #3a6e47;
  text-align: center;
  padding-left: 0.5vw;
  color: #efedef;
  font-size: 0.8vw;
  position: fixed;
  left: 0 ; right: 0; bottom: 0;
  height: 1.2vw;
}
